@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

//@mixin app-light-theme() {
    @include mat-core();

    // Define the palettes for your theme using the Material Design palettes available in palette.scss
    // (imported above). For each palette, you can optionally specify a default, lighter, and darker
    // hue.
    $app-primary: mat-palette($mat-indigo);
    $app-accent: mat-palette($mat-pink, A200, A100, A400);
    // The warn palette is optional (defaults to red).
    $app-warn: mat-palette($mat-red);

    // Create the theme object (a Sass map containing all of the palettes).
    $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
    // $app-theme: md-dark-theme($app-primary, $app-accent, $app-warn);
    $app-dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
    @include angular-material-theme($app-theme);

    $primary: mat-color(map-get($app-theme, primary));
    $accent: mat-color(map-get($app-theme, accent));
    $warn: mat-color(map-get($app-theme, warn));
    $background: map-get($app-theme, background);
    $foreground: map-get($app-theme, foreground);
    $left-menu-heading-color: #E0E0E0;
//}

//
//.app-light-theme {
//    // Include the base styles for Angular Material lib. We include this here so that you only
//    // have to load a single css file for Angular Material in your app.
//    @include app-light-theme();
//}


// .app-dark-theme {
//     @include angular-material-theme($app-dark-theme);
//     $primary: mat-color(map-get($app-dark-theme, primary));
//     $accent: mat-color(map-get($app-dark-theme, accent));
//     $warn: mat-color(map-get($app-dark-theme, warn));
//     $background: map-get($app-dark-theme, background);
//     $foreground: map-get($app-dark-theme, foreground);

//     $left-menu-heading-color: #E0E0E0;
// }
