api-component-presentation {
    .presentation {
        padding-bottom: 2em;
        overflow: hidden;
        
        .short-title {
            font-size: 2em;
            padding: 1em;
        }
    }
}